* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
    color:#2d2d2b;
  }

body{
    background-color:#f6f5f0;
}


.header{
    height:130px;
    background-color:#2d2d2b;
    color:#f6f5f0;
    padding:15px;
    border-radius:0 0 55px 55px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.header h3{
    font-weight: normal;
}

.header img{
    width: 100px;
    float:left;
    border-radius: 50px;
    margin-right: 20px;
}

div.navbar{
    position: -webkit-sticky;
    position: sticky;
    width: 90%;
    height:30px;
    margin: 0 auto;
    top: 0;
    background-color: #d3D5d4;
    border-radius:30px;
}

div.navbar nav{
    font-size:24px;
    width: 305px;
    margin: 0 auto;
}

div.navbar nav a{
    text-decoration: none;
    color:#2d2d2b;
    border-radius:30px;
    margin: 0 10px;
    transition: 0.5s;
}

div.content{
    margin: 0 5%;
    }
div.content section{
    padding-top:30px;
}
div.content section h2{
    border-bottom: solid 1px #2d2d2b;
}
div.content section h3{
    border-bottom: solid 1px #2d2d2b;
    width:150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.content section h4{
    margin-bottom: 1px;
    margin-top:5px;
}

div.content section article{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}

div.content section article ul{
    
    margin-left: 32px;
}

div.content section article ul li a{
    text-decoration:none;
    font-style: italic;
    color:black;
}

div.content section article ul li img{
    height:300px;
    margin:15px 15px 15px 0px;
}

.gallery{
    background-color:#d3D5d4;
    padding-top: 8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 33.3%;
    max-width: 33.3%;
    padding: 0 4px;
  }
  
  .column img {
    margin-bottom:8px;
    vertical-align: middle;
    width: 100%;
    box-shadow: 0 0 0.25em #2d2d2b;
  }

#Contact img{
    margin-left: 15px;
}

div.footer{
    height:70px;
    background-color:#2d2d2b;
    color:#f6f5f0;
    border-radius:55px 55px 0 0;
    margin-top: 10px;
    padding:30px 10px 0 10px;
}

div.footer p{
    width:340px;
    margin: 0 auto;
    font-size: 0.7rem;
}


@media(hover: hover) and (pointer: fine) {
    div.navbar nav a:hover{
        text-shadow: 2px 2px 5px #2d2d2b;
        }
    
    div.navbar nav a:active{
        text-shadow:none;
        }
    
    .column img:hover {
        box-shadow: 0 0 2em #2d2d2b;
    }
    
}

@media screen and (min-width:1100px){
    div.wrapper{
        max-width: 1000px;
        margin: 0 auto;
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }