* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
    color:#2d2d2b;
  }

body{
    background-color:#f6f5f0;
}

div.wrapper{
    min-width:410px;
}

.header{
    height:130px;
    background-color:#2d2d2b;
    color:white;
    font-size:24px;
    padding:15px;
    border-radius:0 0 50px 50px;
    margin-bottom: 10px;
}

.header h3{
    font-weight: normal;
}

.header img{
    width: 100px;
    float:left;
    border-radius: 50px;
    margin-right: 20px;
}

div.navbar{
    position: -webkit-sticky;
    position: sticky;
    width: 321px;
    height:30px;
    margin: 0 auto;
    top: 0;
    background-color: #d3D5d4;
    border-radius:30px;
}

div.navbar nav{
    font-size:24px; 
}

div.navbar nav a{
    text-decoration: none;
    color:#2d2d2b;
    border-radius:30px;
    margin: 0 10px;
}
div.content{
    margin: 0 5%;
    }
div.content section{
    padding-top:30px
}


